@inject IAdminService AdminService

@if (!String.IsNullOrWhiteSpace(Alert))
{
	<div class="d-flex m-3">
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>@Alert</strong>
			<button type="button" @onclick="CloseAlert" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	</div>
}

@if (Navigation == PageType.Edit || Navigation == PageType.Delete)
{
	<ChangeSimilarFilms Page="@Navigation" CurrentFilm="CurrentFilm" OnChange="OnChange" SimilarFilms="SimilarFilms"></ChangeSimilarFilms>
}

<div class="d-flex m-3">
	<a href="/" class="btn btn-outline-secondary rounded-0 me-1 btn-lg">Home</a>

	<button type="button" class="btn btn-outline-primary rounded-0 me-1 btn-lg" @onclick="()=>ChangePageType(PageType.Index)">Index</button>
</div>

<SimilarFilmsIndex OnClick="OnClick" Model="AllFilms"></SimilarFilmsIndex>

