@inject IAdminService AdminService

@if (!String.IsNullOrWhiteSpace(Alert))
{
	<div class="d-flex m-3">
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>@Alert</strong>
			<button type="button" @onclick="CloseAlert" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	</div>
}

@if (Navigation == PageType.Create)
{
	<ChangeFilms Page="@Navigation" OnChange="OnChange"></ChangeFilms>
}

@if (Navigation == PageType.Edit || Navigation == PageType.Delete)
{
	<ChangeFilms Page="@Navigation" OnChange="OnChange" Model="Film"></ChangeFilms>
}

<div class="d-flex m-3">
	<a href="/" class="btn btn-outline-secondary rounded-0 me-1 btn-lg">Home</a>
	<button type="button" class="btn btn-outline-primary rounded-0 me-1 btn-lg" @onclick="()=>ChangePageType(PageType.Index)">Index</button>
	<button type="button" class="btn btn-outline-primary rounded-0 btn-lg" @onclick="()=>ChangePageType(PageType.Create)">Create</button>
</div>

<FilmsIndex OnClick="OnClick" Model="Model"></FilmsIndex>
