@page "/"

<PageTitle>ArvidsVOD</PageTitle>
@*
<h1>Welcome to ArvidsVOD adminpage!</h1>
<h2><br />Here you can make CRUD-operations in the movie database</h2>


<img src="css/images/theater.jpg" class="indexbild"/>*@

<div class="container">
    <h1>Welcome to ArvidsVOD adminpage!</h1>
    <h2>Here you can make CRUD-operations in the movie database</h2>
</div>